<%- include ('./partials/head') %>


<main>
   <section class="page-top">
        <%- include ('./partials/scoreboard') %>

        <%- include ('./partials/addScore') %>

        <%- include ('./partials/player-legend') %>
    </section>
    <%- include ('./partials/scoreline') %>

</main>


<%- include ('./partials/footer') %>