<%- include ('./partials/head') %>


<main>
   <section class="page-top">
        <%- include ('./partials/scoreboard') %>

        <%- include ('./partials/addScore') %>

        <%- include ('./partials/player-legend') %>
    </section>
    <%- include ('./partials/scoreline') %>

    <div class="players">
        <!-- Team one players -->
        <%- include ('./partials/playerlist/team1Players', {data:data}) %>

        <!-- Team two players -->
        <%- include ('./partials/playerlist/team2Players', {data:data}) %>
    </div>

</main>


<%- include ('./partials/footer') %>