<%- include ('./partials/head') %>

<%- include ('./partials/nav') %>

<div class="players">
    <!-- Team one players -->
    <%- include ('./partials/playerlist/team1Players', {data:data}) %>

    <!-- Team two players -->
    <%- include ('./partials/playerlist/team2Players', {data:data}) %>
</div>

<%- include ('./partials/footer') %>